@*contractor/index*@
@model Parkeezzi.ViewModels.ContractorView
@{
    ViewData["Title"] = "Contractor Details";
}

<div class="container">
    <div class="row">
        <h4>@Model.Company: Invoices</h4>
    </div>
    <a asp-controller="Contractor"
       asp-action="AddContractorInvoice"
       asp-route-id="@Model.Id"
       class="waves-effect waves-light btn">
        Add Invoice
    </a>
    <div class="row">
        <ul class="collapsible" data-collapsible="accordion">
            @foreach (var invoice in Model.ContractorInvoices)
            {
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">note</i>
                        @invoice.InvRef
                    </div>
                    <div class="collapsible-body">
                        <table class="bordered highlight">
                            <tr>
                                <th>Item</th>
                                <th>Amount</th>
                                <th>GST</th>
                                <th>Onbill</th>
                                <th>Note</th>
                            </tr>
                            @foreach (var item in invoice.ContractorInvoiceItems)
                            {
                                <tr>
                                    <td>@item.Item</td>
                                    <td>@item.Amount</td>
                                    <td>@item.GST</td>
                                    <td>@item.Onbill</td>
                                    <td>@item.ItemNote</td>
                                </tr>
                            }
                        </table>
                    </div>
                </li>
            }
        </ul>
        <div class="row">
            <a asp-controller="Home" asp-action="Index" class="waves-effect waves-light btn">
                <i class="material-icons">chevron_left</i>
            </a>
        </div>
    </div>
</div>

